<div class="modal modal-cadastro fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cadastrar Acesso</h4>
                </div>
                <div class="modal-body">
                    <div class="row row-id">

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-modal alert-danger">
                                <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="Nome">Nome do acesso</label>
                            <input type="text" id="Nome" name="Nome" class="form-control" placeholder="Nome do acesso..." />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" id="Salvar" class="btn btn-primary">Salvar</button>
                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->