<!-- Main Footer -->
<footer class="main-footer">
    <!-- Default to the left -->
    <strong>Renato Falzoni &copy; <a href="#">2019</a>.</strong> Todos os direitos reservados.
    <div class="pull-right hidden-xs">
        <b>Versão:</b>
        @(typeof(Antiguera.Administrador.MvcApplication).Assembly.GetName().Version.Major +
                    "." + typeof(Antiguera.Administrador.MvcApplication).Assembly.GetName().Version.Minor +
                    "." + typeof(Antiguera.Administrador.MvcApplication).Assembly.GetName().Version.Build)
    </div>
</footer>
