<div class="modal modal-foto fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancelar-corte" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Recortar foto</h4>
            </div>
            <div class="modal-body">
                <div>
                    <img class="img-responsive" id="ImagePreview" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancelar-corte" data-dismiss="modal">Fechar</button>
                <button type="button" id="CortarImagem" class="btn btn-success">Recortar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
