body {
    background-color: #ebebeb;
}

.container-image {
    max-width: 320px;
    margin: auto;
}

.login-box, .register-box {
    margin: 5% auto 2%;
}

.img-logo {
    padding: 0 20px;
}

.container-image img {
    width: 300px;
}

.checkbox .btn-block {
    margin-top: 30px;
}

.alert-danger .validation-summary-errors ul {
    list-style: none;
    display: inline-block;
    padding: 0 40px;
}

.alert-danger .validation-summary-errors ul li {
    text-align: center;
}

.alert {
    font-size: 15px;
}

    .alert .close {
        margin-left: 0;
        margin-right: -10px;
        margin-top: -15px;
    }

.container-footer footer p {
    text-align: center;
}
