@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Bem vindo Administrador
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>*@
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <!--<div class="col-md-3 col-sm-7 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-blue-active"><i class="fa fa-user-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">total usuários</span>
                        <span class="info-box-number">0</span>
                    </div>-->
                    <!-- /.info-box-content -->
                <!--</div>-->
                <!-- /.info-box -->
            <!--</div>-->
            <!-- /.col -->
            <!--div class="clearfix visible-sm-block"></div>-->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.section -->
</div>
<!-- /.content-wrapper -->
