@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Teste todos os serviços</h1>
        <p class="lead">
            A Api Antiguera faz com que sua aplicação tenha acesso a todos os serviços oferecidos,
            para que seu aplicativo tenha acesso a todos os componentes necessários.
        </p>
        <p class="lead">
            Os serviços variam desde cadastro de games a muitas outras funcionalidades, veja a nossa documentação
            e saiba como trabalhar com nossa Api.
        </p>
        <p>
            Acesse <a href="#">Antiguera.com.br</a> e conheça nosso site.
        </p>
    </div>
</main>
